.main {
  width: 100%;
}

.bookslist {
  margin: 0 auto;
}

.bookslist-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}

main > span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
}