.header {
  width: 100%;
  background-image: url(../../assets/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .header::before{
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 30vh;
} */

.header-content-wrp {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}


.header-filters {
  display: flex;
  gap: 10px;
}