.filter-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.filter-label {
  color: #fff;
  margin-bottom: 5px;
}

.form-control {
  background-color: white;
  border-radius: 8px;
  max-width: 137px;
  min-width: 124px;
}

@media only screen and (min-width: 576px) {
  .filter-wrap {
    flex-direction: row;
    width: 50%;
    justify-content: center;
  }  

  .form-control {
    width: 100%;
  }

  .filter-label {
    margin-right: 10px;
    font-size: 18px;
  }
}