.filter-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 137px;
}

.filter-label {
  color: #fff;
}

.form-control {
  background-color: white;
  border-radius: 8px;
  max-height: 20;
}