.bookcard {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  background-color: #F3F2F1;
}

.bookcard-img {
  margin-top: 20px;
}

.bookcard-text-container {
  margin: 20px 10px;
}

.bookcard-category, .bookcard-title, .bookcard-author {
  display: block;
  text-align: left;
}

.bookcard-category {
  color: #A1A9B7;
  text-decoration: underline;
}

.bookcard-title {
  color: #000326;
  font-weight: 700;
}

.bookcard-author {
  color: #C2C1C1;
}